/* Thise style is for full boby */
body{
        width: auto;
        height: auto;
        margin: 50px;
        padding: 30px;
        background: #141414 url("image.jpg") repeat center;
}

/*Thise style is for Header */
h1{ 
    
    text-align: justify;
    text-transform: capitalize;
    font-family: 'papyrus',fantasy;
    font-style: bold; 
    font-size: 40px;
    color: cornsilk;
    background-color: brown;
    background-position: center;
    margin: 10px 230px 25px 200px;
    padding: 20px 50px 10px 15px;
    box-shadow: -5px 1px 50px 15px rgb(255, 68, 68);
}
/*Thise style is for paragraph */
p{  
    text-align: justify;
    color: azure;
    font-family: "Sofia", sans-serif;
    font-size: 40px;
    text-shadow: 5px 3px 3px #a9a6a6d5;
    border-radius: 30px;
    border-bottom: 5px outset rgba(229, 229, 229, 0.781);
    margin: 2px 400px 10px 320px;
    padding: 70px 5px 0px 150px;
    

}

/*Thise style is for Guess the word box*/
label{
        text-align: justify;
        background-color: tomato;
        background-position: center;
        box-shadow: 5px 5px 8px 10px lightpink;
        font-style: oblique;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
        margin: 70px 5px 50px 250px;
        padding: 10px 50px 10px 35px;

}

/*Thise style is for Input box*/
input{ 
        box-shadow:10px 10px #141414;
        background-position: center;
        margin-left: 60px;
        margin-top: 10px;
        padding-left: 150px;
        padding-top: 19px;
}

/*Thise style is for submit button*/
button {   
            box-shadow: 6px 3px rgba(250, 250, 192, 0.776);
            margin-top: 50px;
            height: 50px;
            margin-bottom: 30px;
            margin-right: 900px;
            margin-left: 580px;
            padding-left: 40px;
            padding-right: 40px;
}

/*Thise style is for snake image*/        
img{
        width: 1000px;
        height: 300px;
        margin: 50px;
        padding: 50px;
        box-shadow: 10px 10px 10px 20px lightsteelblue; 
        animation-name: sample;
        animation-duration: 1s;
        animation: both;
}
/*Add animation to snake image*/
 @keyframes sample {
            from{background-color: rgba(235, 130, 130, 0.754);}
            to{background-color: rgb(188, 186, 186);}
}   
/*Thise style is for div containg image of snake*/
div.box1.img {     
        margin: 50px;
        padding: 50px;
        width: 1000px;
        height: 300px; 
              
}


